.nav-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  width: 80px;
  position: fixed;
  z-index: 999;
  background-color: #040306;
}

@media screen and (max-width: 768px) {
  .nav-container {
    display: none;
  }
}

.home-logo-link {
  padding-top: 30px;
  width: 70px;
}

.logout-btn {
  background-color: transparent;
  color: #ffffff;
  outline: none;
  border: none;
}

.logout-text {
  font-weight: 600;
  font-size: 12px;
  color: #9b9b9b;
}

.hamberger-menu {
  height: 25px;
  color: white;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 30px;
}
