.album-name {
  padding-top: 15px;
  font-weight: 500;
  font-size: 1rem;
  margin: 0px;
  max-width: 120px;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* border-style: solid; */
  overflow: hidden;
}

.track-count {
  font-size: 18px;
  font-weight: 500;
  color: #64748b;
  margin: 0px;
}
