.play-card-track-section{
  background-color: #181818;
}
.specific-playlist-section {
  background-color: hwb(0 9% 91%);
  display: flex;
}

.play-card-image{
  border-radius: 10px;
  
}

.play-details-heading {
  font-size: 22px;
  color: #ffffff;
}

.play-card-name {
  font-size: 60px;
  color: #ffffff;
  margin: 0px;
}

.back-button {
  margin: 20px 0px 10px 20px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  background-color: transparent;
  color: #ffffff;
  outline: none;
  border: none;
  margin-bottom: 30px;
}

.play-list-section {
  background-color: black;
  border-radius: 10px;
  width: 90vw;
  margin: 20px;
  color: white;
}

.play-card-image-details {
  display: flex;
  flex-direction: row;
  padding-bottom: 4rem;
}

.card-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-left: 20px;
}

.table-style {
  padding-left: 20px;
  text-align: left;
  width: 100%;
}

.table-row.selected {
  background-color: #303030; /* Change to your desired highlight color */
}


.table-row {
  cursor: pointer;
  height: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
}

.row-elipsing-name1 {
  width: 5%;
}
.row-elipsing-name2 {
  width: 25%;
}
.row-elipsing-name3 {
  width: 25%;
}
.row-elipsing-name4 {
  width: 10%;
}
.row-elipsing-name5 {
  width: 20%;
}
.row-elipsing-name6 {
  width: 20%;
}

.row-data-name {
  max-width: 120px;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* border-style: solid; */
  overflow: hidden;/
  /* height: 40px; */
}

/* width: 140px;
white-space: nowrap;
text-overflow: ellipsis;
/* border-style: solid; */
/* overflow: hidden;
text-align: center;
height: 40px; */

.audio-component{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #282828;
}

.player-image-details{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20%;
  gap:10px;
}
.player-component-image{
  width: 80px;
}

.main-audio{
  width: 80%;
}