.cards-container {
  list-style-type: none;
  padding-left: 0px;
}

.card-image {
  width: 100%;
  border-radius: 10px;
}

.editors-section {
  /* border-style: solid;
  border-color: red; */
  /* margin-top: 30px; */
  padding: 15px;
  /* flex-grow: 1; */
}

.editor-heading {
  font-size: 25px;
  font-weight: 700;
  color: #ffffff;
  padding-bottom: 20px;
}

.render-playlist-section {
  min-height: 400px;
}

.link-item {
  color: #ffffff;
  /* text-align: center; */
}

.play-list-link-item {
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
  /* text-align: center; */
}

.card-name {
  /* width: 120px; */
  padding-top: 5px;
  font-size: 18px;
  padding-top: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* border-style: solid; */
  overflow: hidden;
  /* text-align: center; */
  /* height: 40px; */
}

.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  text-align: center;
  background-color: #040306;
  font-family: "Roboto";
}

.alert-icon {
  width: 50px;
}

.try-again-button {
  border: none;
  outline: none;
  width: 80px;
  height: 30px;
  font-size: 12px;
  border-radius: 5px;
}
