.home-section-container {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  background-color: #181818;
}

.sections-container {
  padding-top: 60px;
  width: 100%;
}

@media screen and (min-width: 769px) {
  .sections-container {
    padding-top: 0px;
    padding-left: 80px;
  }
}
